.form-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e1e5f2;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-row label {
  margin-right: 10px;
  flex: 0 0 150px;
}


.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #022b3a;
}

.form-container input,
.form-container textarea {
  flex: 1;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button[type="submit"] {
  background-color: #abc4ff;
  color: #022b3a;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #f2f2f2;
}

.link-container {
  padding-top: 50px; /* Add padding between the form and the link */
}