
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #4361ee;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar {
  background-color: #4361ee;
  padding: 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.navbar-logo img {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
}

.navbar-logo h1 {
  color: #ffffff;
  font-size: 20px; /* Adjust the font size as needed */
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-button-container {
  margin-left: auto;
}

.navbar ul li {
  margin-right: 30px;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-button {
  background-color: #dee2e6;
  color: #4361ee;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #f2f2f2;
}
